.App {
  max-width: 600px;
  margin: 40px auto;
  padding-top: 2px;
  opacity: 0.8;
  border-radius: 13px;
  background-color: white;
}
.App footer {
  font-size: 11px;
  font-family: monospace;
}

.App footer a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/062/677/original/globe.jpg?1673622041");
  background-repeat: no-repeat;
  background-size: cover;
}
