.HeaderCities li {
  display: inline-block;
  margin: 10px;
  margin-top: -45px;
}

.HeaderCities ul {
  padding: 0;
  margin: 0;
}

.HeaderCities a.city {
  color: white;
  text-decoration: none;
  font-size: 18px;

  font-weight: 600;
  transition: all 200ms ease-in-out;
}
.HeaderCities a.city:hover {
  color: #38389e;
}

@media (mmin-width: 1200px) {
  .HeaderCities ul {
    padding: 0;
    margin: 0;
    display: inline-block;
    margin: 0 30px auto;
  }
}
