.Weather {
  margin: 5px;
  padding: 5px;
  border: 1px solid burlywood;
  border-radius: 8px;
  max-width: 600px;
  margin: 15px auto;
  margin-bottom: 5px;
  padding: 25px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/062/677/original/globe.jpg?1673622041");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Weather h1 {
  font-size: 50px;
  color: white;
  font-weight: 700;
  display: flex;
  float: left;

  padding: 1px;
  margin-left: 5px;
}

.Weather h1,
.fa-location-dot {
  display: flex;
  margin-top: 10px;
  margin-left: 230px;
}
.description {
  margin-left: 10px;
}

.Weather form {
  margin-top: 5px;
  margin-bottom: 15px;
}
form {
  display: flex;
  padding: 10px 10px;
  margin: 10px;
}

.search-button {
  margin: 10px;
  padding: 0 10px;
  color: #92b3e8;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  font-size: large;
}

.search-button:hover {
  color: white;
}

.fa-location-dot {
  color: #92b3e8;
  font-size: 30px;
  margin: 0 20px;
}

.description {
  font-size: 25px;
  color: white;
}

.Weather ul {
  list-style: none;
}

.Weather li {
  color: rgb(33, 33, 33);
  font-size: 16px;
}

.Weather canvas {
  margin-right: 10px;
  display: inline-block;
  margin-top: 5px;
  display: flex;
 
}
