.WeatherForecast {
  text-align: center;
  display: grid;
  border: 5px solid #EFCAD2;
  border-radius: 13px;
  padding: 15px;
  margin: 0;
  background-color: #CBEDCC;
  
}
.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
  color: #38389e;
  font-weight: bold;
  
  
}

.WeatherForecast-temperature-max {
color: #38389e;
font-weight: bold;
}


.WeatherForecast-day{
  color: #38389e;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 10px;
  

}