.Weather {
  margin: 5px;
  padding: 5px;
  border: 1px solid burlywood;
  border-radius: 8px;
  max-width: 600px;
  margin: 15px auto;
  margin-bottom: 5px;
  padding: 25px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/062/677/original/globe.jpg?1673622041");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Weather h1 {
  font-size: 40px;
  color: #6f6fb7;
  font-weight: 700;
  display: flex;
  float: right;
}

.fa-location-dot {
  display: flex;

  float: right;
  color: white;
  margin: 0 20px;
  font-size: 30px;
  margin-top: 8px;
}

.description {
  font-size: 25px;
  color: #f0cdd4;
  display: flex;
  float: right;
}

.Weather form {
  margin-top: 5px;
  margin-bottom: 15px;
}
form {
  display: flex;
  padding: 5px 5px;
}

.search-button {
  margin: 10px;
  padding: 0 10px;
  color: #6f6fb7;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  font-size: large;
}

.search-button:hover {
  color: white;
}

.Weather ul {
  list-style: none;
}

.Weather li {
  color: #6f6fb7;
  font-size: 16px;
}

.InfoWeather canvas {
  display: inline-block;
  margin-top: -22px;
}

.description {
  font-size: 25px;
  color: white;
  display: flex;
  justify-content: left;
  font-family: poppis;
  font-weight: 900;
  transition: all 200ms ease-in-out;
  margin-bottom: 5px;
}

.description:hover {
  font-size: 35px;
  display: flex;
  justify-content: right;
}

.temperature {
  font-size: 75px;
  color: white;
  font-weight: 400;
  float: left;
  margin-top: -35px;
  display: flex;
  margin-left: 20px;
}
.unit a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.InfoWeather ul {
  text-decoration: none;
}

.InfoWeather hr {
  width: 200px;
}
.fa-calendar,
.fa-droplet,
.fa-wind {
  color: white;
  margin-right: 10px;
  font-size: 25px;
}

.fa-calendar {
  margin-top: 2px;
  font-size: 30px;
  color: black;
}
.InfoWeather .date {
  font-size: medium;
  font-weight: bold;
  font-family: poppis;
  display: inline-flex;
  color: black;

  font-size: 25px;
}

span {
  color: white;
}
