.Weather {
  padding: 5px;

  max-width: 600px;
  margin: 15px auto;
  margin-bottom: 5px;
  padding: 10px;
  border: 5px solid #efcad2;
  border-radius: 13px;
  background-color: rgb(126, 160, 223);
}

.Weather h1 {
  font-size: 40px;
  color: #f2ced8;
  font-weight: 700;
  display: flex;
  float: right;
  font-family: "Roboto", sans-serif;
  margin: 0 30px;
}

.fa-location-dot {
  display: flex;

  float: right;
  color: #38389e;
  margin: 0 10px;
  font-size: 30px;
  margin-top: 8px;
}

.Weather form {
  margin-top: 5px;
  margin-bottom: 15px;
}
form {
  display: flex;
  padding: 5px 5px;
}

.search-button {
  margin: 10px;
  padding: 0 20px;
  color: white;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: large;
}

.Weather ul {
  list-style: none;
}

.Weather li {
  color: #38389e;
  font-size: 16px;
}

.InfoWeather canvas {
  display: inline-block;
  margin-top: -22px;
}

.description {
  font-size: 35px;
  color: #f2ced8;
  display: flex;
  justify-content: left;
  font-family: poppis;
  font-weight: 900;
  transition: all 200ms ease-in-out;
  margin-bottom: 15px;
  margin-left: 20px;
}

.temperature {
  font-size: 75px;
  color: #38389e;
  font-weight: 400;
  float: left;
  margin-top: -30px;
  display: flex;
  margin-left: 20px;
}
.unit {
  text-decoration: none;
  color: #38389e;
  font-weight: bold;
}

.unit a {
  text-decoration: none;
  color: #38389e;
  font-weight: bold;
}

.InfoWeather ul {
  text-decoration: none;
}

.InfoWeather hr {
  width: 200px;
  background-color: #38389e;
  height: 5px;
}

.fa-droplet,
.fa-wind {
  color: #f2ced8;
  margin-right: 5px;
  font-size: 25px;
  margin-left: 30px;
}

.fa-calendar {
  margin-top: 2px;
  font-size: 25px;
  color: #38389e;
  margin-right: 10px;
}
.InfoWeather .date {
  font-size: medium;
  font-weight: bold;
  font-family: monospace;
  display: inline-flex;
  color: #38389e;
  font-size: 20px;
}

span {
  color: #f2ced8;
  font-weight: 600;
}

strong {
  margin: 5px;
}

@media (max-width: 576px) {
  li.humidity {
    display: inline-block;
  }

  li.wind {
    display: inline-block;

    margin-bottom: 20px;
  }

  .fa-droplet,
  .fa-wind {
    font-size: 19px;
  }

  strong {
    margin-right: 1px;
    margin-left: 1px;
  }

  li span {
    margin-right: 1px;
  }

  .fa-calendar {
    margin-top: 2px;
    font-size: 25px;
  }
  .InfoWeather .date {
    font-size: medium;
    font-weight: bold;
    font-family: monospace;
    display: inline-flex;

    font-size: 20px;
  }
  .Weather h1 {
    margin: 0 5px;
  }
}
